:root {
    --clr-website-bg: hsl(233, 49%, 7%);
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
}
body {
    background: var(--clr-website-bg);
    color: white;
    font-family: var(--font-ff-inter);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
h1,h2,h3,h4,h5,h6,p {
    
}
.attribution {
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 11px; 
    text-align: center;    
    padding: 1.25rem;
    background: var(--clr-card-bg);
}
.attribution a 
{
    color: hsl(277, 64%, 80%);
}